:root{
  /* light theme values */
  --bg-light: #ffffff;  /* --bg-light: #f2f2f2; */
  --font-light: hsl(0, 0%, 30%);
  


  /* dark theme values */
  --bg-dark: #363636;
  --font-dark: hsl(0, 0%, 90%);

  
  /* --scroll: 0px; */
  --p1-shade: 0;
  --p2-shade: 0;
  --about-me-opacity: 0%;
  /* --about-me-transform: 0%; */
}
body{
  color: var(--color);
  background-color: var(--bg);

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
[theme=light] body{
  --bg: var(--bg-light);
  --color: var(--font-light);
}
[theme=dark] body{
  --bg: var(--bg-dark);
  --color: var(--font-dark);
}

#root{
  width: 100%;
  min-height: 100%;
  background-color: var(--bg);
}

img{
  user-select: none !important;
}


.cards-container{
  width: 100%; height: 100%;
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
  opacity: 100%;
  transition: opacity 0.2s 0s ease-in-out;
}
.cards-container.hidden{
  pointer-events: none;
  opacity: 0%;
  transition-delay: 0.4s;
}

.page-card{
  /* position: relative; */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%; height: 100vh;
  min-width: 300px;
  /* scroll-snap-align: start; */
  opacity: 100%;
}
.page-card.hidden{
  opacity: 0%;
}
.page-card > .cover{
  pointer-events: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  z-index: 2;
}
.page-card:nth-child(1){ overflow: hidden; height: 100vh; }
.page-card:nth-child(2){ pointer-events: none; }
.page-card:nth-child(2) > .cover{ opacity: var(--p2-shade); }


@keyframes textRevealDraw { to { stroke-dashoffset: 0; } }
.animate .anim-letter{
  animation-play-state: running !important;
}
.end-animate .anim-letter{
  stroke-dashoffset: 0 !important;
}


.notification-manager-overlay{
  transform: translateX(-50%);
  position: fixed;
  justify-items: center;
  bottom: 50px;
  left: 50%;
  z-index: 999999;
}

.notification-toast{
  display: flex;
  align-items: center;
  width: max-content;
  max-width: 80vw;  
  min-height: 40px;
  border-radius: 120px;
  padding: 5px 25px;
  margin: 10px 0;
  /* color: white; */
  background-color: rgba(250, 248, 246, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  animation: notifShowAnimation 0.25s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}
[theme=dark] .notification-toast{
  background-color: rgba(115, 115, 115, 0.3);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.15);
}
.notification-toast[data-anim=true]{
  animation: notifCloseAnimation 0.35s cubic-bezier(0.06, 0.71, 0.55, 1) forwards;
}

.notification-toast > p{
  margin: 0;
  font-size: 0.8rem;
}

@keyframes notifShowAnimation {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
@keyframes notifCloseAnimation {
  0% { opacity: 100%; }
  100% { opacity: 0%; }
}


@media screen and (max-aspect-ratio: 1/1) {

}

/* For laptops */
@media screen and (min-width: 1025px) {
  
}

/* For iPads */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* [theme=light] .page-card:nth-child(1) > .cover{ opacity: calc(var(--p1-shade) / 2); }
  [theme=dark] .page-card:nth-child(1) > .cover{ opacity: var(--p1-shade); } */
}

/* For Mobile */
@media screen and (max-width: 600px) {
  /* [theme=light] .page-card:nth-child(1) > .cover{ opacity: calc(var(--p1-shade) / 2); }
  [theme=dark] .page-card:nth-child(1) > .cover{ opacity: var(--p1-shade); } */
}