:root {
    --span-size: 35vw;
}

body[theme="light"] {
    --bg: var(--light-bg);
    --accent: rgb(199, 134, 243);
    --text: var(--light-txt);
}

body[theme="dark"] {
    --bg: var(--dark-bg);
    --accent: rgb(124, 89, 155);
    --text: var(--dark-txt);
}

@media (orientation: portrait) {
    :root {
        --span-size: 35vh;
    }
}

.login-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50%;
    padding: 6vh 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 9999;
    max-width: 650px;
    margin-inline: auto;
    background-color: var(--bg);
    box-shadow: 0px 0px 15px 5px rgb(35 35 35 / 25%);
}
.login-container[data-enableanim=true]{
    transition: all 0.3s, min-height 0.5s;
    transition-timing-function: ease-in-out;
}
.login-container[data-expanded="true"],
.login-container[data-initialcheck="true"],
.login-container[data-lo-expanded="true"]{
    min-height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.login-container[data-faded="true"]{
    opacity: 0%;
    pointer-events: none;
}
.login-container[data-lo-initial="true"][data-is-logging-out=true]{
    opacity: 0%;
    pointer-events: none;
}
.login-container[data-lo-fadein="true"][data-is-logging-out=true]{
    opacity: 100%;
    pointer-events: none;
}

.login-container > .logo-container > .logos-container{
    max-width: 460px;
}

.login-container > .logo-container{
    transform: translateY(0%) translateX(0%) scale(1);
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 4vh;
    background-color: var(--bg);
    z-index: 11;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}
.login-container[data-expanded="true"] > .logo-container{
    transform: translateY(150%);
    transition-delay: 0.35s;
}
.login-container[data-initialcheck="true"] > .logo-container{
    transform: translateY(150%);
    transition-duration: 0.5s;
}
.login-container[data-logofade="true"] > .logo-container,
.login-container[data-faded="true"] > .logo-container{
    transform: translateY(150%) scale(1.2);
    opacity: 0%;
}

.login-container[data-lo-fadein="true"][data-is-logging-out=true] > .logo-container,
.login-container[data-lo-fadeinlogo="true"][data-is-logging-out=true] > .logo-container,
.login-container[data-lo-logout-done="true"][data-is-logging-out=true] > .logo-container{
    transform: translateY(150%) scale(1);
    transition-duration: 0s;
    opacity: 100%;
}



.login-container > .form-container{
    transform: translateY(0px);
    display: flex;
    justify-content: center;
    width: 100%;
    transition-duration: 0.2s;
    opacity: 100%;
}
.login-container > .form-container[data-error=false]{
    animation: none;
}
.login-container > .form-container[data-error=true]{
    animation: errorAnimation 0.3s 0.2s ease-in-out forwards;
}

@keyframes errorAnimation{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-15px);
    }
    50%{
        transform: translateX(15px);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}

.login-container[data-initialcheck="true"] > .form-container[data-issubmitting],
.login-container > .form-container[data-issubmitting=true]{
    transform: translateY(50px);
    opacity: 0%;
}
.login-container > .theme-toggle-button{
    transform: translateY(0px);
    position: fixed;
    top: 6vw;
    right: 6vw;
    width: 30px;
    aspect-ratio: 1/1;
    padding: 0;
    border: none;
    background: none;
    z-index: 15;
    opacity: 100%;
}

.login-container[data-initialcheck="true"] > .theme-toggle-button[data-issubmitting],
.login-container > .theme-toggle-button[data-issubmitting=true]{
    transform: translateY(50px);
    opacity: 0%;
}
.login-container > .form-container > form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
.login-container > .form-container > form > .input-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    transition-duration: 0.3s;
}
.login-container > .form-container > form > .input-section:first-of-type{
    margin-bottom: 1.25vh;
}
[theme=light] .login-container > .form-container > form > .input-section{
    background: #f2f2f2;
    border: 1px solid #bababa;
}
[theme=dark] .login-container > .form-container > form > .input-section{
    background: #323232;
    border: 1px solid rgb(201 201 201 / 15%);
}

.login-container > .form-container > form > .input-section > input{
    width: calc(100% / 0.75);
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    border-radius: 0;
    border: none;
    color: var(--text);
    transition-duration: 0.175s;
}
.login-container > .form-container > form > .input-section > input:focus{
    outline: none;
}
.login-container > .form-container > form > .input-section > input::placeholder{
    opacity: 100%;
}
.input-section > button{
    position: absolute;
    right: 5%;
    width: 20px;
    height: 20px;
    padding: 0;
    background: none;
    border: none;
}

.login-form-error-message{
    width: 85%;
    margin-top: 2vh;
    transform-origin: center;
    transition-duration: 0.3s;
}
.login-form-error-message[data-error=true]{
    max-height: 30px;
    opacity: 100%;
}
.login-form-error-message[data-error=false]{
    max-height: 0px;
    opacity: 0%;
}
.login-form-error-message > p{
    font-size: 0.7em;
    margin: 0;
}
[theme=dark] .login-form-error-message > p{
    color: rgb(215, 63, 52);
}
[theme=light] .login-form-error-message > p{
    color: rgb(255, 92, 92);
}

.login-container > .form-container > form > .login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    border: 2px solid;
    border-color: transparent;
    background: none;
    margin: 2vh 0;
    background-color: var(--accent);
    transition-duration: 0.3s;
}
.login-container > .form-container > form > .login-button:disabled{
    pointer-events: none;
    cursor: not-allowed;
    filter: brightness(85%) saturate(75%);
    transition-duration: 0.3s;
}
[theme=light] .login-container > .form-container > form > .login-button:disabled{
    filter: brightness(85%) saturate(75%);
}
[theme=dark] .login-container > .form-container > form > .login-button:disabled{
    filter: brightness(65%) saturate(50%);
}
.login-container > .form-container > form > .login-button > p{
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
}

.login-container > .form-container > form > p{
    opacity: 50%;
    font-size: 0.7em;
    font-style: italic;
    margin: 3% 0;
}

.login-container > .form-container > form > .guest-button{
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 0.75em;
    color: var(--accent);
}

.gradient-bg{
    overflow: hidden;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    transition-duration: 0.1s;
    background: #ffffff; /* e0d1eb */
    opacity: 0%;
}
[theme=dark] .gradient-bg{
    background: #250c37; /* 190825 */
}
.gradient-bg[data-show="true"]{
    opacity: 100%;
}

.gradient-bg span {
    transform: translate3d(0, 0, 0); /* To force GPU layer */
    --span-blur: clamp(100px, 12vw, 160px);
    width: var(--span-size);
    height: var(--span-size);
    filter: blur(var(--span-blur));
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    opacity: 100%;
}
[theme=dark] .gradient-bg span{
    opacity: 70%;
}

.gradient-bg span:nth-child(1) {
    top: 5%; left: 15%;
    background: #efb4ff;
    animation-delay: 0s;
}
[theme=dark] .gradient-bg span:nth-child(1){
    background: #612771;
}

.gradient-bg span:nth-child(2) {
    top: 12%; left: 32%;
    background: #e5ba54;
    animation-delay: 10s;
}

.gradient-bg span:nth-child(3) {
    top: 25%; left: -25%;
    background: #547ee5;
    animation-delay: 5s;
}

.gradient-bg span:nth-child(4) {
    top: 40%; left: 70%;
    background: #f390b7;
    animation-delay: 10s;
}

.gradient-bg span:nth-child(5) {
    top: -25%; left: 55%; 
    background: #efb4ff;
    animation-delay: 0s;
}
[theme=dark] .gradient-bg span:nth-child(5){
    background: #612771;
}

.gradient-bg span:nth-child(6) {
    top: 70%; left: 55%;
    background: #e5ba54;
    animation-delay: 10s;
}

.gradient-bg span:nth-child(7) {
    top: 30%; left: 85%;
    background: #547ee5;
    animation-delay: 5s;
}

.gradient-bg span:nth-child(8) {
    top: 90%; left: -10%;
    background: #f390b7;
    animation-delay: 10s;
}

@keyframes move {
    0%   { transform: scale(1); }
    100% { transform: scale(1.2); }
}


.simple-loading-container {
    transform: translateY(0%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}

.login-container[data-expanded="true"] > .simple-loading-container{
    transform: translateY(10vh);
    transition-delay: 0.3s;
}

.simple-loading-container > span {
    width: clamp(5px, 2vw, 8px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0 5px;

}
[theme=dark] .simple-loading-container > span{
    background-color: #ffffff;
}
[theme=light] .simple-loading-container > span{
    background-color: rgb(199 134 243);
}

.simple-loading-container[data-endanim=false] > span {
    animation: loading-spinner 0.8s ease-in-out infinite;
}

.simple-loading-container[data-endanim=true] > span {
    animation: loading-spinner-end 0.2s ease-in-out forwards;
}

.simple-loading-container > span:nth-child(2) {
    animation-delay: 0.2s;
}

.simple-loading-container > span:nth-child(3) {
    animation-delay: 0.4s;
}

.simple-loading-container > span:nth-child(4) {
    animation-delay: 0.6s;
}

.simple-loading-container > span:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes loading-spinner {
    0% {
        transform: scale(1);
        opacity: 100%;
    }

    20% {
        transform: scale(1.5);
        opacity: 50%;
    }

    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes loading-spinner-end {
    100% {
        transform: scale(2);
        opacity: 0%;
    }
}



/* For Desktop */
@media screen and (min-width: 1025px) {
    .login-container{
        flex-direction: row;
        padding: 3%;
        width: 60%;
        aspect-ratio: 16 / 8;
        border-radius: 25px;
        max-width: unset;
        top: 0;
        margin-block: auto;

        box-shadow: 0px 0px 8px 8px rgb(35 35 35 / 20%);
    }
    .login-container[data-enableanim=true]{
        transition: all 0.3s ease-in-out, min-height 0.5s, width 0.25s;
    }
    .login-container[data-expanded="true"],
    .login-container[data-initialcheck="true"],
    .login-container[data-lo-expanded="true"]{
        min-height: 100%;
        width: 100%;
        border-radius: 0px;
    }

    .login-container > .logo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        row-gap: 10vh;
    }
    .login-container[data-expanded="true"] > .logo-container{
        transform: translateX(50%);
        transition-delay: 0.1s;
    }

    .login-container[data-initialcheck="true"] > .logo-container{
        transform: translateX(50%);
    }
    .login-container[data-logofade="true"] > .logo-container,
    .login-container[data-faded="true"] > .logo-container{
        transform: translateX(50%) scale(1.2);
    }

    .login-container[data-lo-fadein="true"][data-is-logging-out=true] > .logo-container,
    .login-container[data-lo-fadein="true"][data-is-logging-out=true] > .logo-container,
    .login-container[data-lo-logout-done="true"][data-is-logging-out=true] > .logo-container{
        transform: translateX(50%) scale(1);
    }

    .login-container > .form-container[data-issubmitting=true],
    .login-container[data-initialcheck="true"] > .form-container[data-issubmitting]{
        transform: translateX(-50%);
        opacity: 0%;
    }

    .login-container > .theme-toggle-button{
        position: absolute;
        top: 2vw;
        right: 2vw;
    }

    .simple-loading-container{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;
        transform-origin: center;
        transform: translate(-50%, 2600%);
        top: 50%;
        left: 50%;
        opacity: 0%;
        z-index: 11;
    }
    
    .login-container[data-expanded="true"] > .simple-loading-container{
        transform: translate(-50%, 2600%);
        opacity: 100%;
    }
}

/* For iPads */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .login-container[data-enableanim=true]{
        transition: all 0.3s ease-in-out, min-height 0.5s, max-width 0.5s;
    }
    .login-container[data-initialcheck="true"],
    .login-container[data-expanded="true"]{
        min-height: 100%;
        max-width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .login-container > .form-container[data-error=true]{
        animation: errorAnimation 0.3s 0.3s ease-in-out forwards;
    }
}

/* For Mobile */
@media screen and (max-width: 600px) {

}