.config-menu,
.filler{
  /* background-color: antiquewhite; */
  background-color: #404040;
}

.filler{
  transform: translateY(100%);
  position: absolute;
  width: 100%; height: 150px;
  bottom: 0;
  z-index: 0;
}
.filler[data-isactive=false]{
  transform: translateY(200%);
}

.config-menu{
  transform: translateY(0%);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%; 
  height: 75%;
  max-width: 500px;
  border-radius: 20px 20px 0 0;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  box-shadow: var(--shadow);
}
.config-menu[data-isactive=false]{
  transform: translateY(100%);
}

.show-hide-button{
  cursor: pointer;
  transform: translateY(-100%);
  position: absolute;
  align-self: center;
  /* display: ; */
  top: 0;
  width: 100%; height: 40px;
  padding: 0;
  border: none;
  background: none;
}
.show-hide-button > svg{
  transform: translateY(20%) scaleX(1.4) rotateZ(90deg);
  height: 100%;
  opacity: 50%;
  transition: transform 0.53s ease-in-out;
}
.config-menu > .show-hide-button[data-isactive=false] > svg{
  animation: showHideButtonHover 2.5s infinite ease-in-out;
}
.show-hide-button[data-isactive=true] > svg{
  transform: translateY(-10%) scaleX(1.4) rotateZ(270deg);
}


.config-menu-content{
  flex-grow: 1;
  min-height: 0;
  overflow: hidden auto;
  scrollbar-gutter: stable;
  padding: 2em;
}



.config-menu-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2em 0;
  gap: 1.5em 0;
}
.config-menu-section:first-of-type{
  margin-top: 0;
}
.config-menu-section:last-of-type{
  margin-bottom: 0;
}






.config-menu-section.observed{
  position: relative;
  border-radius: 1.5em;
  overflow: hidden;
  background-color: #3b3b3b;
  transition: max-height 0.25s ease-in-out;
}
.config-menu-section.observed > .show-hide-button{
  transform: none;
  position: absolute;
  top: unset; bottom: 0; left: 0;
  background: linear-gradient(0deg, #3b3b3b 25%, transparent 100%);
}
.config-menu-section.observed > .show-hide-button > svg{
  transform: scaleX(1.2) rotate(270deg);
  opacity: 50%;
}
.config-menu-section.observed > .show-hide-button[data-isactive=true] > svg{
  transform: scaleX(1.2) rotate(90deg);
}

.svg-select-menu{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, minmax(0, 150px));
  width: fit-content;
  gap: 1em;
  padding: 1em;
  padding-bottom: calc(1em + 20px);
  justify-content: center;
  align-items: center;
  align-self: center;
}
.svg-menu-item{
  cursor: pointer;
  display: flex;
  border: solid 2px transparent;
  border-radius: 1em;
  background-color: inherit;
  max-width: 150px;
  aspect-ratio: 1;
  transition: all 0.25s ease-in-out;
}
.svg-menu-item:hover{ background-color: #383838; border-color: #696969; }
.svg-menu-item[data-isactive=true]{
  border-color: color-mix(in hsl, var(--accent) 50%, transparent);
  background-color: #383838;
}

.debug-tools-menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  padding: 1em;
}



.config-item-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.config-item-container > span{
  min-width: 20%;
}
.config-item-container > span:nth-of-type(1){
  /* width: 20%; */
  text-align: left;
  margin-left: 1em;
  white-space: nowrap;
}

.config-slider{
  flex: 1;
}

.config-toggle{
  display: flex;
  width: 6em;
  margin-right: 2em;
}


@keyframes showHideButtonHover {
  0%{
    transform: translateY(20%) scaleX(1.4) rotateZ(90deg);
  } 50% {
    transform: translateY(0%) scaleX(1.4) rotateZ(90deg);
  } 100% {
    transform: translateY(20%) scaleX(1.4) rotateZ(90deg);
  }
}


/*================================================//
//                  Media Queries                 //
//================================================*/

/* For laptops */
@media screen and (min-width: 1025px) {
  .config-menu{
    transform: none;
    bottom: unset;
    border-radius: 1em;
    top: 50px; right: 5px;
  }
  .config-menu[data-isactive=false]{
    transform: none;
  }

  .config-menu-content{
    padding: 2em 1em;
    padding-left: calc(1em + 17px);
  }

  /* .show-hide-button{
    width: 75px; height: 30px;
    transform: translate(-70%, 150%) rotateZ(-90deg);
    top: 5em; left: 0;
    border-radius: 1em 1em 0 0;
    background-color: inherit;
  } */
}

/* For iPads */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .config-menu{
    width: 80%;
    max-width: 700px;
  }
}

/* For Mobile */
@media screen and (max-width: 600px) {
  
}