@property --active-base-color {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(276 82% 74% / 1);
}
@property --active-text-color {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(276 82% 74% / 1);
}

.section-view[data-targetproj=alura]{
  --active-base-color: hsl(276 82% 74% / 1);
  --active-text-color: hsl(276 82% 74% / 1);
}
.section-view[data-targetproj=meshregen]{
  --active-base-color: hsl(200 43% 55% / 1);
  --active-text-color: hsl(200 43% 55% / 1);
}
.section-view[data-targetproj=hairday]{
  --active-base-color: hsl(369 59% 56% / 1);
  --active-text-color: hsl(369 100% 69% / 1);
}
.section-view[data-targetproj=starleap]{
  --active-base-color: hsl(153 33% 62% / 1);
  --active-text-color: hsl(153 33% 62% / 1);
}


.section-view{
  position: fixed;
  /* display: flex;
  flex-direction: column; */
  justify-items: center;
  top: 0; left: 0;
  inset: 0;
  width: 100vw;
  /* height: 100%; */
  padding-top: 75px;
  z-index: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  opacity: 100%;

  transition: --active-base-color 0.5s ease, --active-text-color 0.5s ease;
}

.section-view.hidden{
  pointer-events: none;

}

.sv-nav-bar{
  transform: translateY(20px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  /* max-width: 50%; */
  border-radius: 500px;
  top: 0; left: 0; right: 0;
  margin-inline: auto;
  padding: 7.5px 10px 7.5px 7.5px;
  z-index: 5;
  
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffffff22;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.15);

  transition: all 0.2s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.5s ease-in-out;
}
[theme=light] .sv-nav-bar{ background-color: rgba(215, 215, 215, 0.2); }
[theme=dark] .sv-nav-bar{ background-color: rgba(115, 115, 115, 0.3); }

.sv-nav-bar[data-navbarstate=active]{
  transform: translateY(0px);
  top: 0;
  /* max-width: 90%; */
  width: 100%;
  height: 75px;
  border-radius: 0px;
  background-color: transparent;
  border: 0px solid transparent;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
  /* margin-top: min(5vw, 30px); */
}

.sv-nav-bar[data-navbarstate=hidden]{
  transform: translateY(calc(-100% - 20px));
}

.sv-close-button{
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 110px;
  height: 35px;
  border-radius: 500px;
  padding: 0px 5px;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
[theme=light] .sv-close-button:hover{ background-color: rgb(0 0 0 / 6%); }
[theme=dark] .sv-close-button:hover{ background-color: rgb(250 248 246 / 30%); }
.sv-nav-bar[data-navbarstate=active] > .sv-close-button{
  margin-left: min(3vw, 30px);
}
.sv-close-button > svg{
  height: 80%;
  aspect-ratio: 1;
  transition: all 0.2s ease-in-out;
}
.sv-section-name{
  /* transform: translate(-50%, -50%);
  position: absolute;
  top: 50%; left: 50%; */
  margin: 0 10px 0 0;
  flex: 1;
  /* margin-left: 10px; */
  font-weight: 700;
  font-size: 0.9rem;
  text-wrap: nowrap;
  color: var(--color);
}

.sv-nav-bar > .glass-button-wrapper{
  /* border: none; */
  box-shadow: none;
  opacity: 100%;
}
.sv-nav-bar > .glass-button-wrapper:hover{
  --base-alpha: 25%;
  box-shadow: 0 3px 8px color-mix(in hsl, var(--active-base-color) 25%, transparent);
  border-color: color-mix(in hsl, var(--active-base-color) 50%, transparent);
}
[theme=light] .sv-nav-bar > .glass-button-wrapper{ background-color: rgba(215, 215, 215, 0.2); }
[theme=dark] .sv-nav-bar > .glass-button-wrapper{ background-color: rgba(115, 115, 115, 0.3); }

.sv-nav-bar > .glass-button-wrapper > button > span{
  color: var(--active-text-color);
  /* color: var(--active-base-color); */
}

.sv-nav-bar > .glass-button-wrapper[data-animstate=waiting]{
  cursor: default;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0);
  border: 1px solid #ffffff00;
  background-color: rgba(215, 215, 215, 0);
  opacity: 0%;
}
.sv-nav-bar > .glass-button-wrapper[data-animstate=animating]{
  transition-delay: 0.3s;
  transition: all 0.3s, opacity 0.1s;
}

.section-view > .filler{
  width: 100%;
  height: 100vh;
}

.section-view > .filler.one{ background-color: var(--bg); }
.section-view > .filler.two{ background-color: orange; }
.section-view > .filler.three{ background-color: plum; }


.pp-tools-bar-wrapper{
  position: fixed;
  transform: translate(-50%, 0%);
  max-width: 90%;
  bottom: 10px;
  left: 50%;
  opacity: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.pp-tools-bar-wrapper[data-hidebar=true]{
  transform: translate(-50%, calc(100% + 12px));
}
.pp-tools-bar-wrapper[data-isvisible=false]{
  opacity: 0%;
}

.tb-show-hide-button{
  cursor: pointer;
  transform: translateY(-110%);
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* width: 100%; */
  height: 25px;
  top: 0; right: 1%;
  opacity: 100%;

  background: none;
  border: none;
  color: var(--color);

  transition: opacity 0.3s ease-in-out;
}
.tb-show-hide-button > span:first-child{
  font-size: 0.7rem;
}

.tb-show-hide-button[data-isswitching=true]{
  cursor: default;
  pointer-events: none;
  opacity: 0%;
}

.pp-tools-bar::-webkit-scrollbar-track {
  background: transparent;            /* invisible track */
}

.pp-tools-bar{
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 90%; */
  bottom: 10px;
  padding: 8px;
  overflow: auto hidden;

  
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.15);
  
  transition: background-color 0.2s ease-in-out;
}
[theme=light] .pp-tools-bar{ background-color: rgba(200, 200, 200, 0.3); }
[theme=dark] .pp-tools-bar{ background-color: rgba(115, 115, 115, 0.3); }


.pp-tools-bar > hr{
  transform: scaleX(50%) translateY(0%);
  width: 1px;
  /* height: -webkit-fill-available; */
  /* height: 80%; */
  height: 50px;
  /* max-height: 90px; */
  border-right: 1px solid;
  margin: 0 10px;
  border-image: linear-gradient(to bottom, rgb(53 53 53 / 0%), rgb(53 53 53 / 38%), rgb(53 53 53 / 0%)) 1;
  opacity: 100%;
}
[theme=dark] .pp-tools-bar > hr{
  border-image: linear-gradient(to bottom, rgb(201 201 201 / 0%), rgb(201 201 201 / 20%), rgb(201 201 201 / 0%)) 1;
}

.tb-category{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tb-category-title{
  display: flex;
  height: 20px;
  overflow: hidden;
  transition: all 0.3s 0s ease-in-out;
}
.tb-category-title[data-iscollapsed=true]{ height: 0px; transition-delay: 0.15s; }

.tb-category-title > span{
  font-size: 0.55rem;
  text-transform: uppercase;
  font-style: italic;
  transition: all 0.2s ease-in-out;
}
.tb-category-title[data-iscollapsed=false] > span{
  transform: translateY(0%) rotateX(0deg);
  opacity: 100%;
}
.tb-category-title[data-iscollapsed=true] > span{
  transform: translateY(-80%) rotateX(50deg);
  opacity: 0%;
}

.tb-icons-wrapper{
  display: flex;
  column-gap: 6px;
}
.tb-icons-wrapper > button{
  transform: translateY(0px);
  cursor: pointer;
  position: relative;
  /* width: 60px;
  aspect-ratio: 1/1;
  padding: 0; */

  width: 45px; height: 45px;
  padding: 0;
  border-radius: 12px;
  /* overflow: hidden; */
  /* border: none; */
  border: 0px solid rgba(255, 255, 255, 0.1);
  background: none;
  transition: border 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.tb-icons-wrapper > button:hover{
  transform: translateY(-8px);
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.tb-icons-wrapper > button > img{
  width: 100%; height: 100%;
  z-index: 2;
}
/* .tb-icons-wrapper > button:hover > img{
  transform: translateY(-10px);
} */
.tb-icons-wrapper > button > .tb-icon-name{
  transform: translateY(0px);
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  /* text-wrap: nowrap; */
  
  left: 0; right: 0;
  margin-inline: auto;
  bottom: 0;
  opacity: 0%;
  z-index: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s cubic-bezier(0, 0, 0, 1);
}
.tb-icons-wrapper > button:hover > .tb-icon-name{
  transform: translateY(15px);
  opacity: 100%;
  transition: transform 0.2s ease-in-out, opacity 0.3s cubic-bezier(1, 0, 1, 1);
}
.tb-icon-name > span{
  /* width: 100%; */
  text-wrap: nowrap;
  font-size: 0.55rem;
  color: var(--color);
}


.logo-shatter-canvas{
  position: absolute;
  width: 100%; height: 100%;
  background: none;
  z-index: -1;
  /* opacity: 60%; */
  transition-duration: 0.3s;
  /* filter: drop-shadow(0px 0.315em 0.315em rgba(0, 0, 0, 0.5)); */
}
[theme=light] .logo-shatter-canvas{
  /* opacity: 50%; */
}


/* For laptops */
@media screen and (min-width: 1025px) {
  .sv-nav-bar{
    /* justify-content: start; */
    max-width: 950px;
  }
  .sv-nav-bar[data-navbarstate=active]{
    max-width: 95%;
  }
  .sv-section-name{
    margin: 0 10px 0 5px;
    /* transform: translate(0);
    position: unset;
    margin-left: 20px; */
  }

  /* .pp-tools-bar{ max-width: 1000px; min-width: 600px; } */
}

/* For iPads */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  
}

/* For Mobile */
@media screen and (max-width: 600px) {
  
}