/* =======================================================================
                        $$$ to be removed!
==========================================================================*/

.incomplete-section{
  inset: 0;
  margin: auto;
  text-align: center;
}

.incomplete-info-button-wrapper{
  position: absolute;
  top: 20px; right: 20px;
}

.incomplete-info-button-wrapper .glass-button-wrapper{
  border-radius: 0.9em;
}
.incomplete-info-button-wrapper button{
  /* padding: 0; */
  padding: 3px;
}
.incomplete-info-button-wrapper button svg{
  width: 25px; height: 25px;
}





.info-dialog{
  padding: 0;
  border: none;
  border-radius: 20px;
  background-color: rgba(34, 34, 34, 0.75);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  
  /* transitions */
  opacity: 0%;
  
  animation: closeInfo 0.3s ease-out forwards;
}
.info-dialog:focus {
  outline: none;
}
.info-dialog[data-isactive=true]{
  opacity: 100%;
  animation: openInfo 0.3s ease-out forwards;
}

.info-dialog::backdrop {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0%;
  
  animation: closeInfoBD 0.25s ease-out forwards;
}

.info-dialog[data-isactive=true]::backdrop {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  opacity: 100%;
  
  animation: openInfoBD 0.25s ease-out forwards;
}

.info-dialog-content{
  /* padding: min(3vw, 70px); */
  display: grid;
  padding: 5vw;
  text-align: center;
  /* color: beige; */
  gap: 0em 0;
}
.info-dialog-content > p{
  color: #bfbfbf;
}
.info-dialog-content .paragraph-word.animate{
  animation-play-state: running;
}



@keyframes openInfo {
  0%{
    opacity: 0%;
  } 100% {
    opacity: 100%;
  }
}

@keyframes closeInfo {
  0%{
    opacity: 100%;
  } 100% {
    opacity: 0%;
  }
}

@keyframes openInfoBD {
  0%{
    opacity: 0%;
    background-color: rgba(0, 0, 0, 0.1);
  } 100% {
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes closeInfoBD {
  0%{
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0);
  } 100% {
    opacity: 0%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}



/* For laptops */
@media screen and (min-width: 1025px) {
  .info-dialog{
    max-width: 600px;
    inset: unset;
    margin: 0;
    top: 2vw;
    right: 3vw;
  }
  .info-dialog-content{
    padding: min(3em, 70px);
  }

  .info-dialog::backdrop,
  .info-dialog[data-isactive=true]::backdrop {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0);

    animation: none;
  }
}

/* For iPads */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* [theme=light] .page-card:nth-child(1) > .cover{ opacity: calc(var(--p1-shade) / 2); }
  [theme=dark] .page-card:nth-child(1) > .cover{ opacity: var(--p1-shade); } */
}

/* For Mobile */
@media screen and (max-width: 600px) {
  /* [theme=light] .page-card:nth-child(1) > .cover{ opacity: calc(var(--p1-shade) / 2); }
  [theme=dark] .page-card:nth-child(1) > .cover{ opacity: var(--p1-shade); } */
}
